:root {
    --text-color-profile: #403A3A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main {
    max-width: 1140px;
    height: 1200px;
}

.profile__info .profile__info-icon {
    font-size: 18px;
    width: 18px;
}

.profile__info__link {
    color: var(--text-color-profile);
    text-decoration: none;
}

.profile__info__link:hover {
    color: #0b0a0a;
}

.profile__info-title {
    letter-spacing: 3px;
    font-weight: 600;
}
/*
.profile-skill li {
    list-style-type: ;
}*/

.bg-profile {
    background-color: #f0efef;
}

.title-section__icon::before {
    font-size: 20px;
}

.title-section__text {
    margin-top: 6px;
    line-height: 20px;
}

.item-descrip {
    margin-left: -16px;
}